@import "bower";
@import url(http://fonts.googleapis.com/css?family=Roboto);

$blue:      #0486E2;
$white:     white;
$yellow:    #ffeb00;
$base-font: 'Roboto', sans-serif;

body {
  font-family: $base-font;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
}

#header-nav {
  border-bottom: 4px solid $yellow;
}

.navbar-default {
  background: $blue;
  color: $white;

  .navbar-brand {
    color: $white;
    font-weight: 700;
    font-size: 26px;

    &:hover, &:focus {
      color: $white;
    }

    img {
      max-height: 35px;
      margin-top: -8px;
      margin-right: 8px;
      display: inline-block;
    }
  }

  .navbar-nav > li > a {
    color: $white;
    &:hover, &:focus {
      color: $yellow;
    }
  }
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: $yellow;
    border-color: $yellow;

  }
}


#footer-nav {
  background: $white;
  height: 100px;
}

// html, body {
//   margin: 0;
// }
//
// header {
//   background-color: #0486E2;
//   font-family: 'Roboto', sans-serif;
//
//   .loggedOut{
//     display: inline;
//     float: right;
//   }
//   #logo-main{
//     padding: 10px 0 5px 20px;
//     height: 75px;
//     width: 300px;
//   }
// }
//
// ul {
//   margin: 0 auto;
//   float: right;
//   list-style: none;
// }
//
// footer {
//   width: 100%;
//   height: 80px;
//
//   .btn-group{
//     text-align: center;
//     padding-top: 30px;
//
//     p {
//       margin: 0 auto;
//       padding: 0;
//     }
//   }
// }

#map-canvas {
  width: 100%;
  height: 75vh;
  margin: 0 auto;
}
